
        body {
            overflow-x: hidden;
            overflow-y: hidden;
            margin: 0;
            font-family: Arial, sans-serif;

        }

        #main {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .chess-board { 
            border-spacing: 0;
            border-collapse: collapse; 
            margin: 10px auto;
            display:inline-block;
        }

        .chess-board th {
            padding: .5em; 
        }

        .chess-board td { 
            border: 1px solid #333;
            width: 100px;
            height: 100px;
            position: relative;
        }

        .chess-board .light { 
            background: #ffffff;
        }

        .chess-board .dark {
            background: #000000; 
        }

        .figure-container, .rice-container {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
    
        }

        .figure {
            width: 100px;
            transform: scale(0.8);
            cursor: pointer;
            transition: transform 0.3s ease;
            display: block;
        }

        .figure-container:hover .figure {
            transform: translateY(-5px) scale(0.8);
            
        }

        .rice {
            height: 100px;
            transform: scale(0.6);
            transition: transform 0.3s ease;
            cursor: pointer;
            display: block;
            cursor:default;
        }

        .rice-container:hover .rice {
            transform: scale(0.9);
        }

        .tooltip, .tooltipTop {
            visibility: hidden;
            position: absolute;
            z-index: 100;
            bottom: 120%;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.9);
            color: white;
            text-align: center;
            padding: 10px;
            border-radius: 6px;
            width: 200px;
            opacity: 0;
            transition: opacity 0.3s;
            font-size: 14px;
            line-height: 1.4;
            pointer-events: none;

        }

        .figure-container:hover .tooltip,
        .rice-container:hover .tooltip {
            visibility: visible;
            opacity: 1;
        }

        .figure-container:hover .tooltipTop{
            bottom: -120%;
            visibility: visible;
            opacity: 1;
        }

        #Link{
            display:inline-block;
            text-align: center;
            align-self: auto;
            width: 100vw;
            
            
            
        }

